<!-- review -> code not accurate -->
<% books.forEach(book => { %>
    <a href="//<%= book. %> "><p><%= book.title %></p></a> 
    <p><%= book.author %><%= book.isbn %></p>
    <img src="<%= book.image %> "> 
<% }) %>